Project 4/App_WebReferences/localhost/SamaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProblems">
        <s:complexType />
      </s:element>
      <s:element name="GetProblemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProblemsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertProb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertProbResponse">
        <s:complexType />
      </s:element>
      <s:element name="solveprob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photourl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="solveprobResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProblemsByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProblemsByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProblemsByUsernameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetProblemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProblems" />
  </wsdl:message>
  <wsdl:message name="GetProblemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProblemsResponse" />
  </wsdl:message>
  <wsdl:message name="insertProbSoapIn">
    <wsdl:part name="parameters" element="tns:insertProb" />
  </wsdl:message>
  <wsdl:message name="insertProbSoapOut">
    <wsdl:part name="parameters" element="tns:insertProbResponse" />
  </wsdl:message>
  <wsdl:message name="solveprobSoapIn">
    <wsdl:part name="parameters" element="tns:solveprob" />
  </wsdl:message>
  <wsdl:message name="solveprobSoapOut">
    <wsdl:part name="parameters" element="tns:solveprobResponse" />
  </wsdl:message>
  <wsdl:message name="GetProblemsByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetProblemsByUsername" />
  </wsdl:message>
  <wsdl:message name="GetProblemsByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetProblemsByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="MathProbSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProblems">
      <wsdl:input message="tns:GetProblemsSoapIn" />
      <wsdl:output message="tns:GetProblemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertProb">
      <wsdl:input message="tns:insertProbSoapIn" />
      <wsdl:output message="tns:insertProbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="solveprob">
      <wsdl:input message="tns:solveprobSoapIn" />
      <wsdl:output message="tns:solveprobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProblemsByUsername">
      <wsdl:input message="tns:GetProblemsByUsernameSoapIn" />
      <wsdl:output message="tns:GetProblemsByUsernameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathProbSoap" type="tns:MathProbSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProblems">
      <soap:operation soapAction="http://tempuri.org/GetProblems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProb">
      <soap:operation soapAction="http://tempuri.org/insertProb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="solveprob">
      <soap:operation soapAction="http://tempuri.org/solveprob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProblemsByUsername">
      <soap:operation soapAction="http://tempuri.org/GetProblemsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathProbSoap12" type="tns:MathProbSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProblems">
      <soap12:operation soapAction="http://tempuri.org/GetProblems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProb">
      <soap12:operation soapAction="http://tempuri.org/insertProb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="solveprob">
      <soap12:operation soapAction="http://tempuri.org/solveprob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProblemsByUsername">
      <soap12:operation soapAction="http://tempuri.org/GetProblemsByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathProb">
    <wsdl:port name="MathProbSoap" binding="tns:MathProbSoap">
      <soap:address location="http://localhost:3330/SamaService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathProbSoap12" binding="tns:MathProbSoap12">
      <soap12:address location="http://localhost:3330/SamaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>